<p style="color: green"><%= notice %></p>

<%= render @costumer %>

<div>
  <%= link_to "Edit this costumer", edit_costumer_path(@costumer) %> |
  <%= link_to "Back to costumers", costumers_path %>

  <%= button_to "Destroy this costumer", @costumer, method: :delete %>
</div>
